 /* Fastcommerce - Buy Together  Mar/2016 (v1) */
.bTItensContainer > div:last-of-type:after{background:none !important;content:"";}
#bTContainer hr{border-top:1px solid #cccccc !important;display:block;width:100% !important;height:1px !important;clear:both;}
#bTContainer{width:100%;float:left;min-height:1px;margin:25px 0 0px;}
#bTEconomyItemConj{display:none;}
.bTItem{margin:0px;padding:10px;text-align:center;position:relative; }
.bTItem:after{content: " ";background:url("/images/plus.svg") no-repeat;background-size: contain;  width: 100%;  height: 18px;  position: relative; display: block;}
.bTTotalBuy{float:left;}
p.bTText{font-size:1.5em!important;font-weight:bold;margin:10px auto;text-align:left;color:#333333;text-align:center;line-height:0.9;margin:50px auto 35px;}
.bTTotalsPrices{position:relative;padding:10px;}
.bTTotalBuy:before{content:" ";background:url("/images/equal.svg") no-repeat;background-size:100%;width:18px;height:18px;position:absolute;  }
.bTProdSelectName{width:100%;clear:both;padding:5px 0;position:relative;}
.bTProdSelectName label{font-size:13px;}
.bTText{font-family: 'Roboto'; color: #18c1c6;float:left;width:100%;clear:both;font-weight:bold;display:block;margin:0 0 5px 0;}
.bTAddProd{position:absolute;left:4px;top:4px;z-index:99;font-size:0.8em;}
.EqualSeparator{float:left;font-weight:bold;display:block;width:18px;margin:75px 0 0 0;}
.EqualSeparator svg{width:100%;}
.bTImgProd{width:100%;padding:15px 5px 5px 5px;margin-bottom:0px;}
.bTImgProd img{width:100%;max-height:100px;max-height: 120px;min-height: 120px; max-width: 120px; min-width: 120px;}
.bTItem .bTProdName {min-height: 60px; font-size: 15px; font-weight: bold;  display: flex;  align-items: center; justify-content: center;}
#bTDescrProdConj li{list-style:none;margin:2px 0;}  
.FCfnShowEconomyConj{color:#0E72D2;text-align:center;font-size:13px;font-weight:bold;display:block;margin:10px 0;padding:7px 3px;}
.bTPriceProd .FCPriceInt{font-size:19px;}
.bTPriceProd .FCCurrencyLabel{}
#PricesCJ h3{color:#656565;font-size:20px;margin:0 0 20px 0;font-weight:400;}
.bTProdPrice{margin:10px 0 10px 0;}
.bTPricePorCont{display:block;margin:10px 0;}
.bTPricePor, .bTOriPrice{font-weight:bold;font-size:25px;color:#6f9e45;/*display: block;*/}
.bTEconomy{display:block;color:#656565;}
.bTPriceOff{font-size:14px;}
#BotComprarCJ{margin:15px 0 0 0;}
#BotComprarCJ a img{max-width:100%;}  

@media (min-width: 767px) {
.bTTotalBuy:before { margin: 2% -5%; }
.bTItem:after { background-size: contain; width: 18px; position: absolute; display: block; right: 0; top: 35%; margin: 0 10px; }
.bTItem.bTActualItem:after { top: 43%; }
} 
@media (max-width: 767px) {
.bTTotalBuy:before { margin: -13% 45%; }
.bTItem:after { background-size: contain; width: 100%; height: 18px; position: relative; background-position: center; display: block; }
}
@media (min-width: 1300px) {
.bTTotalBuy:before { margin: 3.5% -3%; }

}