/* CSS Grid v1 - 08.07.2015 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

/*MagicZoom*/
.MagicThumb-caption{padding:2px 8px!important;}

/* classes geradas dinamicamente:being */
.FCCorGrid{} 
.FCAdicional1Grid{}
.FCAdicional2Grid{}
.FCAdicional3Grid{}
.FCAdicionalD1Grid{}
.FCAdicionalD2Grid{}
.FCAdicionalD3Grid{}
/* classes geradas dinamicamente:end */

.FCNameProductGrid{font-size:20px;margin:10px 0;}
.FCPriceGrid{width:100%;height:auto;min-height:40px;}
.FCCodProdGrid{font-weight:normal;display:block;margin:0;}

.FCGridMain{font-family:'Roboto',verdana,arial,sans-serif !important;font-weight:400;}
.FCGridMain #idDivGridImg{min-height:350px;padding:0px;float:left;}
.FCGridMain #idDivGridImg img{max-width:250px;max-height:250px;border:1px solid #cccccc;}

.FCContentGrid{height:auto;position:relative;float:left;text-align:left !important;}
.FCGridMain .FCDescritorGrid{background: white;display:flex; border-radius:0px;min-width:40px;min-height:40px;text-align:center;border:1px solid #979797;align-items:center;padding:5px;margin:0;line-height:17px;justify-content: center;}

.FCBoxGrid{position:relative;width:100%;height:auto !important;min-height:40px;display:table;text-align:left;border:0px solid #cccccc;font-size:13px;padding:0px;margin-bottom:20px;margin-top:0px;}
.FCDescritorGridDisabled .FCDescritorGrid{background:#dddddd;color:#686868;cursor:not-allowed;}
.FCSelectedGrid{border-color:#e3037d;background: #e3037d;}
.FCSelectedGrid span{background:#dddddd;}
.FCStepGrid{display: inline-block;min-height:40px;text-align:left;border:0;padding:0;}
.FCStepGridNumber{width:35px;height:35px;line-height:25px;display:inline-block;float:left;padding:5px 0px 0px 0px;border-radius:50%;background:white;color:#424242;text-align:center;    border: 1px solid #979797;    font-size: 15px}
.FCOptionSelected{display:inline-block;font-weight:bold;padding:6px 0;}
.FCStepGridTitle{    font-weight: bold;display:inline-block;padding:6px 0;float:left;margin:0 5px;}
.FCStepGridTitle.FCTitQtyInc{margin-left:5px;}

.FCSoldOutLabel span{background:#eeeeee;color:#cccccc;}
.FCSoldOutLabel .FCFlagEsgotadoGrid{width:18px;position:absolute;margin:0;bottom:-8px;right:-8px;background:#e17600;font-size:11px;color:#ffffff;line-height:12px;padding:0px;border:2px solid #cccccc;border-radius:8px;height:18px;text-align:center !important;z-index:1;}
.FCSoldOutLabel:hover{border-color:#f56217 !important;}

.FCBoxGrid.FCResumeProduct{padding:10px 0 !important;}
.FCDescritorGridActivated{cursor:pointer;}
.FCDescritorGridActivated:hover{border-color:#e3037d;}

.FCCheckedGrid{width:16px;height:16px;position:absolute;background:url('../../images/checkedgrid.svg') no-repeat;z-index:1;top:-5px;right:-3px;display:none;}
.FCSelectedGrid .FCCheckedGrid{display:block;}
.FCGridBtnZoom{width:160px;background:#e0e0e0;display:block;padding:7px 0;text-align:center;font-size:12px;margin:5px auto;border-radius:3px;color:#212121;font-weight:bold;}
.FCBoxGridBuy img {margin: 10px auto 0;  max-width: 100%;    min-width: 100%;}
.FCBtnEsgotadoGrid, .FCBtnConsultenos, .FCBtnComprarGrid, .FCBtnSelecioneGrid{ display: flex; flex-direction: column;max-width:100%;height:auto;position:relative;text-align:center;font-size:14px;font-weight:normal;cursor:pointer;margin:5px 0;padding:5px 0px;border-radius:5px;float:left;text-align:center;min-width:100%;width:100%;}
.FCBtnSelecioneGridPosition{margin:0px 0px 0px 5px;}
.FCBtnEsgotadoGrid span{color:#ee4c1a;}
.FCBtnEsgotadoGrid span:hover{color:#ff0000;}
.FCBtnEsgotadoGrid img{margin:0px 0px 0px 5px;}
.FCBtnComprarGrid img{margin:0px 0px 0px 0px;}
.FCBoxGridOnly img{margin:0px 0px 0px 0px !important;}
.FCBtnConsultenos{}
.FCBtnComprarGrid{}
.FCBtnSelecioneGrid{}

.FCDescritorContent{width:100%;height:auto;display:table;float:left;list-style:none;}
.FCDescritorContent li{position:relative;float:left;border:2px solid transparent;margin:2px;}
.FCDescritorContent li:hover{}

/* Steps */
.FCFCBoxGridIncMult .FCStepGridNumber{margin-top:4px;}
.FCFCBoxGridIncMult .FCStepGridTitle{padding:9px 0;} 

/* Tooltip */
.FCTooltipGrid{position:absolute;width:275px;top:55px;left:0px;font-size:13px;padding:10px 5px;background:#f53421;color:#ffffff;margin:0px auto !important;z-index:1;-webkit-transition:visibility 0s linear 0.3s,opacity 0.5s linear;transition:visibility 0s linear 0.3s,opacity 0.5s linear;}
.FCTooltipGrid.On{visibility:visible;opacity:1;}
.FCTooltipGrid.Off{visibility:hidden;opacity:0;}

/* IncMult */
.QTIncMultGrid{min-width:40px;}

/* Descritores */
.FCTxtGrid{width:100%;height:auto;position:relative;margin-bottom:10px;padding:5px 0px;font-family:'Roboto',verdana,arial,sans-serif !important;font-weight:400;}
.FCGridAdicContent span{display:inline-block;padding:5px;}
.AdicItemCor{min-width:20px;display:inline-block;margin:0 3px;border:1px solid #cccccc;}
.FCGridAdicContent.FCGridAdicProductList{float:left;}
/* CSS Grid v1 - 08.07.2015 */